.row.bar
  .col-md-8
    .title.pull-left= t('model.feeds')
  .col-md-4
    .btn-group.pull-right
      = link_to new_feed_path, :class => 'btn btn-default', :title => t('feed.new') do
        %span.fa.fa-plus

#feeds.partial
  = render :partial => 'listing', :locals => {:feeds => @feeds}



