.row.bar
  .col-md-8
    .title.pull-left= t('model.users')
  .col-md-4
    .btn-group.pull-right
      = link_to new_user_path, :class => 'btn btn-default', :title => t('user.new') do
        %span.fa.fa-plus

#users.partial
  = render :partial => 'listing', :locals => {:users => @users}



